
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}
body{
    background-color: #EEF2F6;
}

header{
    background-color: #162134;
    color: white;
    text-align: center;
    padding-top: 50px 0px;

}

h1{
    color: #38bdf8;
    font-size: 37px;
    letter-spacing: 1px;
    
}

header p{
    color: #C2CCD8;
    padding: 10px 0;
}
header nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #353B4C;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: 600;
}
header nav a:hover{
    background-color: #0284c7;
}

main{
    margin: 50px auto;
    /* background-color: white; */
    max-width:900px;
}

#about,#project,#intro{
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 30px;

}
#about h2,#project h2  ,#intro h2{
    border-left: solid 5px #0284c7;
    padding-left: 10px;
    /* text-align: center; */

}
#about figure{
    text-align: center;
    padding: 20px 0;
    
    
}
#about figure img{
    border-radius: 50%;
    border: solid 4px #0284c7 ;
    margin: 10px 0;
    transition: all 1s;

}
#about figure img:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 10px rgb(64, 57, 57);

}
#about figure figcaption{
    color: #64748B;
    font-style: italic;
    font-size: 15px;

}
#about p{
    border-radius: 16px;
    background-color:#f8fafc ;
    padding: 20px;
    border-color: 1px solid #f0f0f1  ;
    font-size: 18px;
    color: #334155;

}
#projects-card{
    display: flex;
    gap: 20px;
    margin: 30px 0;

}
#projects-card article{
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    border: 1px solid #e2ebf0;
    color: #10162a;
    transition: all 0.5s;

}
#projects-card article:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgb(66, 60, 60);

}
#projects-card article p{
    font-size: 15px;
    color: #64748b;
    margin: 15px 0;
}
#projects-card article a{
    background-color: #0284c7;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding:10px 20px ;
    display: inline-block;

}

#projects-card article a:hover{
background-color: rgb(46, 59, 173);
}

#skills{
    background-color: #f1f5f9;
    border-radius: 10px;
    padding: 20px;
}
#skills ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;

}
#skills ul li {
background-color: #e0f2fe;
border-radius:30px ;
border: 1px  solid #bae6fd;
padding:7px 18px ;
color: #0369a1;
font-weight: 600;
}

#intro{
    text-align: center;

}
#intro h2{
    text-align: left;

}

#intro video{
    margin: 20px 0px;
    /* display: inline-block; */
    /* margin: auto; */
    /* text-align: center; */
    /* padding: 30px; */
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 40px;
    border: 4px solid #cbd5e1;
    
}
footer{
    max-width: 900px;
    margin: 50px auto;
    background-color: #141d30;
    padding: 30px 30px 0px;
    border-radius: 20px;
    margin-bottom: 30px;
}
footer h2 {
    border-left: 5px solid #0284C7;
    padding-left: 10px;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;

}
footer p{
    color: white;
    padding: 6px 0;
}
footer p a{
   text-decoration: none;
   color:#388df8 ;
   font-size: 20px;
}


footer p a:hover {
    text-decoration: underline;
    color: #388DF8;
}

form label{
    display: block;
    margin: 10px 0;
    color: #cbd5e1;
    font-weight: 500;
}
form{
    max-width: 80%;
}



form input[type="text"],
form input[type="email"],
textarea{
    width: 100%;
    background-color:#1e2838 ;
    outline: none;
    border: 1px solid #475569;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    margin: 7px 0;
 
}
::placeholder {
  color: white;        /* Makes placeholder text white */
  opacity: 0.8;          /* Ensures full visibility (some browsers lower opacity by default) */
}



form button{
     background-color: #0284c7;
    border-radius: 5px;
    /* text-decoration: none; */
    color: white;
    padding:10px 20px ;
    display: inline-block;
    outline: none;
    border: none;
    margin: 10px 0;
    cursor: pointer;

}
form button:hover{
background-color: rgba(8, 116, 240, 0.502);

}
#lowerfooter{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex: wrap;
    border-top: 1px solid  rgba(128,128,128,0.348);
    padding: 20px 0;
    margin: 10px 0;
}

